# Project Scope

### Project Scope and Plan

In July 2019, the Department for Transport released data on the type and number of journeys within
the United Kingdom per year. The annual numbers of car journeys consistently climbed from 2015 to
2018, where it reached a nine-year high of 986 trips per household per year [1]. A noteworthy 75% of
UK residents aged 17 and above possessed driver's licences, while 76% of households owned a
minimum of one car, and 77% of the total distance travelled each year was by car.

The growing congestion resulting from these statistics prompted a need for considering alternative
transportation methods . As a result, the Mayor of London and the London Assembly introduced
the Mayor's Transport Strategy in 2018, focusing on three primary objectives:

- Promoting Healthy Streets & Healthy People
- Enhancing the Public Transport Experience
- Developing New Homes and Jobs

### Objectives

#### How can we increase the uptake of cycling in London?
- Expanding cycling infrastructure so residents live within 400m of the cycling networks will increase the number of journeys completed by bike
- Separating bike lanes from main roads, cars and large vehicles will make cyclists feel safer and thus increase the numbers of journeys completed by bike
- Having a sustainable availability and distribution of safe and affordable hire bikes in London will increase the numbers of journeys completed by bike

#### What are the main factors that determine whether people choose to cycle?
- More journeys are completed by bike in dry weather than rain
- More journeys are completed by bike in the summer months than in the winter months
- The time of day has an impact on the number of journeys completed by bike
- More journeys are completed by bike in central London than outer London as journeys are typically shorter

#### What are the demographics of cyclists in these cities, and are there any underrepresentedgroups that can be engaged with to increase the uptake of cycling as a mode of transport?
- The majority of journeys completed by bike in London are completed within commuting hours
- Residents of ‘deprived’ areas of London complete fewer journeys on bike than those in ‘wealthy’ areas

#### What interventions and changes to the transport network have had the most impact on cycling engagement?

## 1. Prepare the Workstation

In [1118]:
!pip install pandas
!pip install matplotlib seaborn
!pip install conda
!pip install openpyxl

Requirement already satisfied: pandas in ./anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in ./anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: matplotlib in ./anaconda3/lib/python3.11/site-packages (3.7.1)
Requirement already satisfied: seaborn in ./anaconda3/lib/python3.11/site-packages (0.12.2)
Requirement already satisfied: contourpy>=1.0.1 in ./anaconda3/lib/python3.11/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in ./anaconda3/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in ./anaconda3/lib/python3.11/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./anaconda3/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in ./anaconda3/lib/python3.11/site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in ./anaconda3/lib/python3.11/site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in ./anaconda3/lib/python3.11/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./anaconda3/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in ./anaconda3/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pandas>=0.25 in ./anaconda3/lib/python3.11/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: conda in ./anaconda3/lib/python3.11/site-packages (23.7.2)
Requirement already satisfied: boltons>=23.0.0 in ./anaconda3/lib/python3.11/site-packages (from conda) (23.0.0)
Requirement already satisfied: conda-package-handling>=1.3.0 in ./anaconda3/lib/python3.11/site-packages (from conda) (2.2.0)
Requirement already satisfied: jsonpatch>=1.32 in ./anaconda3/lib/python3.11/site-packages (from conda) (1.32)
Requirement already satisfied: packaging in ./anaconda3/lib/python3.11/site-packages (from conda) (23.0)
Requirement already satisfied: pluggy>=1.0.0 in ./anaconda3/lib/python3.11/site-packages (from conda) (1.0.0)
Requirement already satisfied: pycosat>=0.6.3 in ./anaconda3/lib/python3.11/site-packages (from conda) (0.6.4)
Requirement already satisfied: pyopenssl>=16.2.0 in ./anaconda3/lib/python3.11/site-packages (from conda) (23.2.0)
Requirement already satisfied: requests<3,>=2.27.0 in ./anaconda3/lib/python3.11/site-packages (from conda) (2.31.0)
Requirement already satisfied: ruamel-yaml<0.18,>=0.11.14 in ./anaconda3/lib/python3.11/site-packages (from conda) (0.17.21)
Requirement already satisfied: setuptools>=60.0.0 in ./anaconda3/lib/python3.11/site-packages (from conda) (68.0.0)
Requirement already satisfied: toolz>=0.8.1 in ./anaconda3/lib/python3.11/site-packages (from conda) (0.12.0)
Requirement already satisfied: tqdm>=4 in ./anaconda3/lib/python3.11/site-packages (from conda) (4.65.0)
Requirement already satisfied: conda-package-streaming>=0.9.0 in ./anaconda3/lib/python3.11/site-packages (from conda-package-handling>=1.3.0->conda) (0.9.0)
Requirement already satisfied: jsonpointer>=1.9 in ./anaconda3/lib/python3.11/site-packages (from jsonpatch>=1.32->conda) (2.1)
Requirement already satisfied: cryptography!=40.0.0,!=40.0.1,<42,>=38.0.0 in ./anaconda3/lib/python3.11/site-packages (from pyopenssl>=16.2.0->conda) (41.0.2)
Requirement already satisfied: charset-normalizer<4,>=2 in ./anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27.0->conda) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27.0->conda) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27.0->conda) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27.0->conda) (2023.7.22)
Requirement already satisfied: zstandard>=0.15 in ./anaconda3/lib/python3.11/site-packages (from conda-package-streaming>=0.9.0->conda-package-handling>=1.3.0->conda) (0.19.0)
Requirement already satisfied: cffi>=1.12 in ./anaconda3/lib/python3.11/site-packages (from cryptography!=40.0.0,!=40.0.1,<42,>=38.0.0->pyopenssl>=16.2.0->conda) (1.15.1)
Requirement already satisfied: pycparser in ./anaconda3/lib/python3.11/site-packages (from cffi>=1.12->cryptography!=40.0.0,!=40.0.1,<42,>=38.0.0->pyopenssl>=16.2.0->conda) (2.21)
Requirement already satisfied: openpyxl in ./anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in ./anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [1119]:
# Imports 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [1120]:
# Load the data
central_london = pd.read_csv('Central London.csv')
inner_london = pd.read_csv('Inner London.csv')
outer_london = pd.read_csv('Outer London.csv')
biking_sites = pd.read_excel('Biking sites.xlsx')

/var/folders/lt/08m9hqm92sj18xcqdl3v6h2c0000gn/T/ipykernel_91637/1662675493.py:2: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  central_london = pd.read_csv('Central London.csv')
/var/folders/lt/08m9hqm92sj18xcqdl3v6h2c0000gn/T/ipykernel_91637/1662675493.py:3: DtypeWarning: Columns (1,2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  inner_london = pd.read_csv('Inner London.csv')

## 2. Data Cleaning & Exploration

# Biking Sites

In [1121]:
# view the data
biking_sites.head()

,UnqID,ProgID,SurveyDescription,Easting,Northing,Location,Borough,Functional cycling area
0,CENCY001,CENCY,Central area cycle surveys,530251.49,178742.45,Millbank (south of Thorney Street),Westminster,Central
1,CENCY002,CENCY,Central area cycle surveys,533362.68,181824.45,Bishopsgate,City of London,Central
2,CENCY003,CENCY,Central area cycle surveys,532334.06,180520.37,Southwark Bridge,Southwark,Central
3,CENCY004,CENCY,Central area cycle surveys,532052.50,179677.64,Southwark Bridge Road,Southwark,Central
4,CENCY005,CENCY,Central area cycle surveys,533031.59,180213.46,Tooley Street,Southwark,Central

### Sense Check

In [1122]:
# Determine the metadata of the data sets
print(biking_sites.shape)
print(biking_sites.columns)

(2023, 8)
Index(['UnqID', 'ProgID', 'SurveyDescription', 'Easting', 'Northing',
       'Location', 'Borough', 'Functional cycling area'],
      dtype='object')

In [1123]:
biking_sites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023 entries, 0 to 2022
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UnqID                    2023 non-null   object
 1   ProgID                   2023 non-null   object
 2   SurveyDescription        2023 non-null   object
 3   Easting                  2023 non-null   float64
 4   Northing                 2023 non-null   float64
 5   Location                 2023 non-null   object
 6   Borough                  2023 non-null   object
 7   Functional cycling area  2021 non-null   object
dtypes: float64(2), object(6)
memory usage: 126.6+ KB

In [1124]:
# Missing Values for biking sites
missing_values_biking_sites = biking_sites.isnull().sum()

# Displaying the columns with missing values and their count
missing_values_biking_sites

UnqID                      0
ProgID                     0
SurveyDescription          0
Easting                    0
Northing                   0
Location                   0
Borough                    0
Functional cycling area    2
dtype: int64

#### Investigate missing values

In [1125]:
rows_missing_biking_sites = biking_sites[biking_sites['Functional cycling area'].isnull()]
rows_missing_biking_sites

,UnqID,ProgID,SurveyDescription,Easting,Northing,Location,Borough,Functional cycling area
418,CNDCY009,CNDCY,Cycleway Network Development cycle surveys,518804.0,176790.0,A307 Kew Road (south of Lichfield Road),Richmond upon Thames,NaN
419,CNDCY010,CNDCY,Cycleway Network Development cycle surveys,518569.0,175812.0,A307 Kew Road (between Stanmore Road and Pagod...,Richmond upon Thames,NaN

In [1126]:
#Check: if corresponding functional cycling is in the data
richmond_data = biking_sites[biking_sites['Location'].str.contains('A307 Kew Road') & (biking_sites['Borough'] == 'Richmond upon Thames')]
richmond_data

,UnqID,ProgID,SurveyDescription,Easting,Northing,Location,Borough,Functional cycling area
418,CNDCY009,CNDCY,Cycleway Network Development cycle surveys,518804.0,176790.0,A307 Kew Road (south of Lichfield Road),Richmond upon Thames,NaN
419,CNDCY010,CNDCY,Cycleway Network Development cycle surveys,518569.0,175812.0,A307 Kew Road (between Stanmore Road and Pagod...,Richmond upon Thames,NaN

In [1127]:
#Replace NA
biking_sites['Functional cycling area'].fillna('unknown', inplace=True)

In [1128]:
cleaned_bike_sites = biking_sites.copy()

In [1129]:
cleaned_bike_sites.to_csv('cleaned_bike_sites.csv', index=False)

# Outer London

In [1130]:
outer_london.head(3)

,Survey wave (year),Site ID,Location,Survey date,Weather,Time,Period,Direction,Start hour,Start minute,Number of male cycles,Number of female cycles,Number of unknown cycles,Total cycles
0,2015,OUTCY001,High Road Leyton,"ven, 26/06/15",Dry,0600 - 0615,Early Morning (06:00-07:00),Northbound,6,0,2,1,0,3
1,2015,OUTCY001,High Road Leyton,"ven, 26/06/15",Dry,0615 - 0630,Early Morning (06:00-07:00),Northbound,6,15,3,0,0,3
2,2015,OUTCY001,High Road Leyton,"ven, 26/06/15",Dry,0630 - 0645,Early Morning (06:00-07:00),Northbound,6,30,2,0,0,2

### Sense Check

In [1131]:
# Determine the metadata of the data sets
print(outer_london.shape)
print(outer_london.columns)

(375660, 14)
Index(['Survey wave (year)', 'Site ID', 'Location', 'Survey date', 'Weather',
       'Time', 'Period', 'Direction', 'Start hour', 'Start minute',
       'Number of male cycles', 'Number of female cycles',
       'Number of unknown cycles', 'Total cycles'],
      dtype='object')

In [1132]:
outer_london.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375660 entries, 0 to 375659
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Survey wave (year)        375660 non-null  int64
 1   Site ID                   375660 non-null  object
 2   Location                  375660 non-null  object
 3   Survey date               374492 non-null  object
 4   Weather                   374692 non-null  object
 5   Time                      375660 non-null  object
 6   Period                    375660 non-null  object
 7   Direction                 375660 non-null  object
 8   Start hour                375660 non-null  int64
 9   Start minute              375660 non-null  int64
 10  Number of male cycles     375660 non-null  int64
 11  Number of female cycles   375660 non-null  int64
 12  Number of unknown cycles  375660 non-null  int64
 13  Total cycles              375660 non-null  int64
dtypes: int64(7), object(7)
memory usage: 40.1+ MB

In [1133]:
cleaned_outer_london = outer_london.copy()

### Survey date

In [1134]:
#Empty lists 
outer_lon_day_of_week = []
outer_lon_date = []


for survey_date in cleaned_outer_london['Survey date']:
    #Seperate using. split method
    if isinstance(survey_date, str):
        if ', ' in survey_date:
            day, rest = survey_date.split(', ')
            #Append corresponding to the list
            outer_lon_day_of_week.append(day)
            outer_lon_date.append(rest)
        else:
            #conditional if no value
            outer_lon_day_of_week.append('Unknown')  
            outer_lon_date.append('Unknown')  
    else:
        outer_lon_day_of_week.append('Unknown')
        outer_lon_date.append('Unknown')  

# Add new columns 'Survey_weekday' and 'Survey_date' to Cleaned London
cleaned_outer_london['Survey_weekday'] = outer_lon_day_of_week
cleaned_outer_london['Survey_date'] = outer_lon_date

In [1135]:
outer_day_of_week_counts = cleaned_outer_london['Survey_weekday'] .value_counts()
outer_day_of_week_counts

# Rename the columns for the weekday: mapping
outer_day_mapping = {
    'lun': 'Monday',
    'mar': 'Tuesday',
    'mer': 'Wednesday',
    'jeu': 'Thursday',
    'ven': 'Friday',
    'dim': 'Saturday', 
    'sam': 'Sunday'
}
cleaned_outer_london['Survey_weekday'] = cleaned_outer_london['Survey_weekday'].replace(outer_day_mapping)

In [1136]:
#drop original column: Survey date
cleaned_outer_london = outer_london.drop('Survey date', axis=1)

### Period

In [1137]:
#View the values within the column
outer_unique_periods = cleaned_outer_london['Period'].unique()
print(outer_unique_periods)

#Use.Split method to seperate and drop (00:00-00:00)
cleaned_outer_london['Period'] = cleaned_outer_london['Period'].str.split('(').str[0].str.strip()

['Early Morning (06:00-07:00)' 'AM peak (07:00-10:00)'
 'Inter-peak (10:00-16:00)' 'PM peak (16:00-19:00)'
 'Evening (19:00-22:00)']

### Zipped(Start time)

In [1138]:
from datetime import time


#Apply datetime module 
cleaned_outer_london['Start time'] = cleaned_outer_london.apply(
    #Concatinate the start hour and minutes
    lambda row: time(row['Start hour'], row['Start minute']).strftime('%H:%M'),
    axis=1
)

cleaned_outer_london = cleaned_outer_london.drop(['Start hour','Start minute'], axis=1)

In [1139]:
outer_column_order = [
    'Survey wave (year)',
    'Site ID',
    'Location',
    'Weather',
    'Time',
    'Period',
    'Direction',
    'Start time',
    'Number of male cycles',
    'Number of female cycles',
    'Number of unknown cycles',
    'Total cycles',
]

# Reorder the columns
cleaned_outer_london = cleaned_outer_london[outer_column_order]

In [1140]:
cleaned_outer_london.head(1)

,Survey wave (year),Site ID,Location,Weather,Time,Period,Direction,Start time,Number of male cycles,Number of female cycles,Number of unknown cycles,Total cycles
0,2015,OUTCY001,High Road Leyton,Dry,0600 - 0615,Early Morning,Northbound,06:00,2,1,0,3

In [1141]:
#Check if Period matches Time
contains_evening = cleaned_outer_london['Period'].str.contains('Early Morning')
does_not_contain = ~cleaned_outer_london['Time'].str.contains('06')

filtered_data = cleaned_outer_london[contains_evening & does_not_contain]
filtered_data

#Sidebar: Consider dropping Time from dataset.

Empty DataFrame
Columns: [Survey wave (year), Site ID, Location, Weather, Time, Period, Direction, Start time, Number of male cycles, Number of female cycles, Number of unknown cycles, Total cycles]
Index: []

In [1142]:
# Missing values for outer london
missing_values_outer_london = cleaned_outer_london.isnull().sum()

# Display the columns with missing values and their count
missing_values_outer_london

Survey wave (year)            0
Site ID                       0
Location                      0
Weather                     968
Time                          0
Period                        0
Direction                     0
Start time                    0
Number of male cycles         0
Number of female cycles       0
Number of unknown cycles      0
Total cycles                  0
dtype: int64

### Weather

In [1143]:
cleaned_outer_london['Weather'].fillna('unknown', inplace=True)

In [1144]:
cleaned_outer_london.dtypes

Survey wave (year)           int64
Site ID                     object
Location                    object
Weather                     object
Time                        object
Period                      object
Direction                   object
Start time                  object
Number of male cycles        int64
Number of female cycles      int64
Number of unknown cycles     int64
Total cycles                 int64
dtype: object

In [1145]:
cleaned_outer_london.isna().sum()

Survey wave (year)          0
Site ID                     0
Location                    0
Weather                     0
Time                        0
Period                      0
Direction                   0
Start time                  0
Number of male cycles       0
Number of female cycles     0
Number of unknown cycles    0
Total cycles                0
dtype: int64

In [1146]:
cleaned_outer_london.to_csv('cleaned_outer_london.csv', index=False)

In [1147]:
#strip the spaces
cleaned_outer_london['Weather'] = cleaned_outer_london['Weather'].str.strip()  
#.lower() = lowercase
cleaned_outer_london['Weather'] = cleaned_outer_london['Weather'].str.lower()

In [1148]:
weather_value = cleaned_outer_london['Weather'].unique()

In [1149]:
outer_london_weather_mapping = {
    'Dry': ['dry', 'dry chill', 'sunny', 'sunny overcast', 'sunny/cloudy', 'dry dark', 'fine', 'good', 'dry very windy', 'fine + dry', 'fine + hot', 'dry/sunny', 'dry/windy', 'dry/dark', 'dry/good', 'fine/dry', 'warm + dry', 'dry/mild', 'dry & sunny', 'dry/wet road', 'dry with wet road', 'dry/wet', 'dry & sun', 'dry (road wet)', 'getting dry', 'sunny dry', 'dry & wet', 'clear and bright', 'overcast (no rain)', 'dry v. cold!'],
    'Wet': ['showers', 'cloudy/rain/sunny', 'rain/showers', 'showery', 'intermitent showers', 'short hail shower','rain', 'cloudy + rain', 'raining', 'heavy rain', 'heavy showers', 'heavy shower', 'heavy downpour/rain', 'rain/hail', 'rain heavy showers','wet', 'wet/dry', 'wet/windy', 'wet/v.windy', 'wet hail', 'wet/thunder', 'wet-windy', 'wet heavy rain', 'wet (heavy rain)', 'wet (heavy rain)', 'w', 'wey', 'damp'],
    'Sunny': ['cloudy', 'cloudy sunny', 'cloudy + sunny', 'sunny + cloudy', 'cloudy/sunny', 'cloudy/dry', 'rain & cloudy', 'cloudy bright intervals', 'cloudy with showers', 'generally overcast', 'cloudy with clear spells'],
    'Mixed':[ 'cold/sunny', 'generally overcast brief shower'],
    'Cold':[ 'cold/cloudy',],
    'Windy':[ 'cloudy/windy',],
    'unknown': ['unknown', 'n/a','sun setting', 'dry/cold', 'dry cold', 'windy', 'bright + cloudy', 'dark/dry', 'cold', 'partly sunny', 'rain/cloudy', 'windy + sunny', 'sunsetting + windy', 'dark cloudy', 'dark dry', 'bright', 'dull', 'intermittent light drizzle', 'light rain', 'dry hot!!', 'lt rain', 'heavy shr', 'drizzle', 'down pour', 'deluge', 'dry & mild', 'hot', 'fine & dry', 'shower', 'snow!', 'snow', 'clear', 'intermittent drizzle', 'light showers', 'sleet', 'foggy wet', 'thunder lightening rain!', 'very wet', 'wet heavy wind', 'v.wet', 'good/dry', 'very cool', 'very hot', 'sun', 'cloud', 'd', 'drizzle/shower', 'hailstones', 'rainy', 'mild', 'overcast']
}

#get the key: value pair from the dictionay
for key, values in outer_london_weather_mapping.items():
    #replace value == Key in the data set. 
    cleaned_outer_london['Weather'] = cleaned_outer_london['Weather'].replace(values, key)

In [1150]:
cleaned_outer_london['Weather'].unique()

array(['Dry', 'Wet', 'Sunny', 'unknown', 'Mixed', 'Cold', 'Windy'],
      dtype=object)

In [1225]:
cleaned_outer_london.to_csv('cleaned_outer_london.csv', index=False)

# Inner London

In [1151]:
cleaned_inner_london = inner_london.copy()
cleaned_inner_london

,Survey wave (year),Site ID,Location,Survey date,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles
0,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0600 - 0615,Early Morning (06:00-07:00),Northbound,6.0,0.0,1.0,0.0,1.0
1,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0615 - 0630,Early Morning (06:00-07:00),Northbound,6.0,15.0,2.0,0.0,2.0
2,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0630 - 0645,Early Morning (06:00-07:00),Northbound,6.0,30.0,2.0,0.0,2.0
3,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0645 - 0700,Early Morning (06:00-07:00),Northbound,6.0,45.0,4.0,0.0,4.0
4,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0700 - 0715,AM peak (07:00-10:00),Northbound,7.0,0.0,4.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
615163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1152]:
#Drop rows with NaN
cleaned_inner_london = cleaned_inner_london.dropna(how='all', axis=0)
cleaned_inner_london

,Survey wave (year),Site ID,Location,Survey date,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles
0,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0600 - 0615,Early Morning (06:00-07:00),Northbound,6.0,0.0,1.0,0.0,1.0
1,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0615 - 0630,Early Morning (06:00-07:00),Northbound,6.0,15.0,2.0,0.0,2.0
2,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0630 - 0645,Early Morning (06:00-07:00),Northbound,6.0,30.0,2.0,0.0,2.0
3,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0645 - 0700,Early Morning (06:00-07:00),Northbound,6.0,45.0,4.0,0.0,4.0
4,2015.0,INNCY001,Grove Road,"mer, 20/05/15",Dry,0700 - 0715,AM peak (07:00-10:00),Northbound,7.0,0.0,4.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
523771,2021.0,INNCY597,Augustus Road,"mer, 26/05/21",Dry,2045 - 2100,Evening (19:00-22:00),Westbound,20.0,45.0,3.0,0.0,3.0
523772,2021.0,INNCY597,Augustus Road,"mer, 26/05/21",Dry,2100 - 2115,Evening (19:00-22:00),Westbound,21.0,0.0,2.0,0.0,2.0
523773,2021.0,INNCY597,Augustus Road,"mer, 26/05/21",Dry,2115 - 2130,Evening (19:00-22:00),Westbound,21.0,15.0,2.0,0.0,2.0
523774,2021.0,INNCY597,Augustus Road,"mer, 26/05/21",Dry,2130 - 2145,Evening (19:00-22:00),Westbound,21.0,30.0,2.0,0.0,2.0
523775,2021.0,INNCY597,Augustus Road,"mer, 26/05/21",Dry,2145 - 2200,Evening (19:00-22:00),Westbound,21.0,45.0,0.0,0.0,0.0

In [1153]:
inner_duplicated_rows = cleaned_inner_london[cleaned_inner_london.index.duplicated(keep=False)]
inner_duplicated_rows.sum()

Survey wave (year)            0.0
Site ID                       0.0
Location                      0.0
Survey date                   0.0
Weather                       0.0
Time                          0.0
Period                        0.0
Direction                     0.0
Start hour                    0.0
Start minute                  0.0
Number of private cycles      0.0
Number of cycle hire bikes    0.0
Total cycles                  0.0
dtype: float64

In [1154]:
cleaned_inner_london.dtypes

Survey wave (year)            float64
Site ID                        object
Location                       object
Survey date                    object
Weather                        object
Time                           object
Period                         object
Direction                      object
Start hour                    float64
Start minute                  float64
Number of private cycles      float64
Number of cycle hire bikes    float64
Total cycles                  float64
dtype: object

## Year

In [1155]:
cleaned_inner_london['Survey wave (year)'] = cleaned_inner_london['Survey wave (year)'].astype(int)

/var/folders/lt/08m9hqm92sj18xcqdl3v6h2c0000gn/T/ipykernel_91637/3334773896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_inner_london['Survey wave (year)'] = cleaned_inner_london['Survey wave (year)'].astype(int)

## Survey date

In [1156]:
#empty lists 
inner_day_of_week = []
inner_date = []


for survey_date in cleaned_inner_london['Survey date']:
    #Seperate using. split method
    if isinstance(survey_date, str):
        if ', ' in survey_date:
            day, rest = survey_date.split(', ')
            #Append corresponding to the list
            inner_day_of_week.append(day)
            inner_date.append(rest)
        else:
            #conditional if no value
            inner_day_of_week.append('Unknown')  
            inner_date.append('Unknown')  # Set 'date' to None for non-string values
    else:
        inner_day_of_week.append('Unknown')  # Set 'day_of_week' to None for non-string values
        inner_date.append('Unknown')  # Set 'date' to None for non-string values

# Add new columns 'Survey_weekday' and 'Survey_date' to Cleaned London
cleaned_inner_london['Survey_weekday'] = inner_day_of_week
cleaned_inner_london['Survey_date'] = inner_date

# Rename the columns for the weekday: mapping
day_mapping = {
    'lun': 'Monday',
    'mar': 'Tuesday',
    'mer': 'Wednesday',
    'jeu': 'Thursday',
    'ven': 'Friday',
    'dim': 'Saturday', 
    'sam': 'Sunday'
}
cleaned_inner_london['Survey_weekday'] = cleaned_inner_london['Survey_weekday'].replace(day_mapping)

#Drop the original: Survey date
cleaned_inner_london = cleaned_inner_london.drop('Survey date', axis=1)

/var/folders/lt/08m9hqm92sj18xcqdl3v6h2c0000gn/T/ipykernel_91637/675256182.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_inner_london['Survey_weekday'] = inner_day_of_week
/var/folders/lt/08m9hqm92sj18xcqdl3v6h2c0000gn/T/ipykernel_91637/675256182.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_inner_london['Survey_date'] = inner_date
/var/folders/lt/08m9hqm92sj18xcqdl3v6h2c0000gn/T/ipykernel_91637/675256182.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_inner_london['Survey_weekday'] = cleaned_inner_london['Survey_weekday'].replace(day_mapping)

# Period

In [1157]:
inner_unique_periods = cleaned_inner_london['Period'].unique()
inner_unique_periods

array(['Early Morning (06:00-07:00)', 'AM peak (07:00-10:00)',
       'Inter-peak (10:00-16:00)', 'PM peak (16:00-19:00)',
       'Evening (19:00-22:00)', nan], dtype=object)

In [1158]:
#Drop the bracketed time zones
cleaned_inner_london['Period'] = cleaned_inner_london['Period'].str.split('(').str[0].str.strip()

In [1159]:
#replace na values with "unknown"
cleaned_inner_london['Period'].fillna('unknown', inplace=True)
cleaned_inner_london.isna().sum()

Survey wave (year)               0
Site ID                          0
Location                         0
Weather                       4674
Time                             6
Period                           0
Direction                        0
Start hour                       6
Start minute                     6
Number of private cycles         0
Number of cycle hire bikes       0
Total cycles                     0
Survey_weekday                   0
Survey_date                      0
dtype: int64

## Time

In [1160]:
#Replace Na with values 
cleaned_inner_london['Start hour'].fillna(0, inplace=True)
cleaned_inner_london['Start minute'].fillna(0, inplace=True)
cleaned_inner_london['Time'].fillna('unknown', inplace=True)

In [1161]:
cleaned_inner_london.isna().sum()

Survey wave (year)               0
Site ID                          0
Location                         0
Weather                       4674
Time                             0
Period                           0
Direction                        0
Start hour                       0
Start minute                     0
Number of private cycles         0
Number of cycle hire bikes       0
Total cycles                     0
Survey_weekday                   0
Survey_date                      0
dtype: int64

In [1162]:
cleaned_inner_london.head()

,Survey wave (year),Site ID,Location,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Survey_weekday,Survey_date
0,2015,INNCY001,Grove Road,Dry,0600 - 0615,Early Morning,Northbound,6.0,0.0,1.0,0.0,1.0,Wednesday,20/05/15
1,2015,INNCY001,Grove Road,Dry,0615 - 0630,Early Morning,Northbound,6.0,15.0,2.0,0.0,2.0,Wednesday,20/05/15
2,2015,INNCY001,Grove Road,Dry,0630 - 0645,Early Morning,Northbound,6.0,30.0,2.0,0.0,2.0,Wednesday,20/05/15
3,2015,INNCY001,Grove Road,Dry,0645 - 0700,Early Morning,Northbound,6.0,45.0,4.0,0.0,4.0,Wednesday,20/05/15
4,2015,INNCY001,Grove Road,Dry,0700 - 0715,AM peak,Northbound,7.0,0.0,4.0,0.0,4.0,Wednesday,20/05/15

## Format Columns

In [1163]:
cleaned_inner_london.dtypes

Survey wave (year)              int64
Site ID                        object
Location                       object
Weather                        object
Time                           object
Period                         object
Direction                      object
Start hour                    float64
Start minute                  float64
Number of private cycles      float64
Number of cycle hire bikes    float64
Total cycles                  float64
Survey_weekday                 object
Survey_date                    object
dtype: object

In [1164]:
#Format all columns
cleaned_inner_london['Start hour'] = cleaned_inner_london['Start hour'].astype(int)
cleaned_inner_london['Start minute'] = cleaned_inner_london['Start minute'].astype(int)
cleaned_inner_london['Survey wave (year)'] = cleaned_inner_london['Survey wave (year)'].astype(str)
cleaned_inner_london['Number of private cycles'] = cleaned_inner_london['Number of private cycles'].astype(int)
cleaned_inner_london['Number of cycle hire bikes'] = cleaned_inner_london['Number of cycle hire bikes'].astype(int)
cleaned_inner_london['Total cycles'] = cleaned_inner_london['Total cycles'].astype(int)
cleaned_inner_london['Survey_weekday'] = cleaned_inner_london['Survey_weekday'].astype(str)
cleaned_inner_london['Survey_date'] = cleaned_inner_london['Survey_date'].astype(object)

In [1165]:
inner_column_order = [
    'Survey wave (year)', 'Site ID', 'Location','Survey_weekday','Survey_date', 'Weather', 'Time',
       'Period', 'Direction', 'Start hour', 'Start minute',
       'Number of private cycles', 'Number of cycle hire bikes',
       'Total cycles' 
]

# Reorder the columns
cleaned_inner_london = cleaned_inner_london[inner_column_order]

In [1166]:
cleaned_inner_london.head(1)

,Survey wave (year),Site ID,Location,Survey_weekday,Survey_date,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles
0,2015,INNCY001,Grove Road,Wednesday,20/05/15,Dry,0600 - 0615,Early Morning,Northbound,6,0,1,0,1

## Zipped(Start time)

In [1167]:
from datetime import time


cleaned_inner_london['Start time'] = cleaned_inner_london.apply(
    #concatinate the hour and minutes
    lambda row: time(row['Start hour'], row['Start minute']).strftime('%H:%M'),
    axis=1
)

cleaned_inner_london = cleaned_inner_london.drop(['Start hour','Start minute'], axis=1)

In [1168]:
inner_column_order = ['Survey wave (year)', 'Site ID', 'Location', 'Survey_weekday',
       'Survey_date', 'Weather', 'Time', 'Period', 'Direction','Start time',
       'Number of private cycles', 'Number of cycle hire bikes',
       'Total cycles']

# Reorder the columns
cleaned_inner_london = cleaned_inner_london[inner_column_order]

In [1169]:
cleaned_inner_london.head(1)

,Survey wave (year),Site ID,Location,Survey_weekday,Survey_date,Weather,Time,Period,Direction,Start time,Number of private cycles,Number of cycle hire bikes,Total cycles
0,2015,INNCY001,Grove Road,Wednesday,20/05/15,Dry,0600 - 0615,Early Morning,Northbound,06:00,1,0,1

### Weather

In [1170]:
cleaned_inner_london['Weather'].fillna('unknown', inplace=True)

In [1171]:
cleaned_inner_london.isna().sum()

Survey wave (year)            0
Site ID                       0
Location                      0
Survey_weekday                0
Survey_date                   0
Weather                       0
Time                          0
Period                        0
Direction                     0
Start time                    0
Number of private cycles      0
Number of cycle hire bikes    0
Total cycles                  0
dtype: int64

In [1172]:
cleaned_inner_london.to_csv('cleaned_inner_london.csv', index=False)

In [1173]:
#Remove espaces before and after each weather type
cleaned_inner_london['Weather'] = cleaned_inner_london['Weather'].str.strip() 

#make exverything lowercase.
cleaned_inner_london['Weather'] = cleaned_inner_london['Weather'].str.lower()

In [1174]:
all_inner_weather = cleaned_inner_london['Weather'].unique()
all_inner_weather

array(['dry', 'dry                         9', 'wet', 'warm + dry',
       'unknown', 's.wet', 's/w', 'sunny', 'cloudy/sunny', 'cloudy',
       'cloudy/rain', 'cloudy/dry', 'rain', 'druy', 'mix wet/dry',
       'drizzle', 'dry & windy', 'light showers', 'dry/hot', 'sun',
       'fine', 'very windy', 'mizzle', 'windy/rain', 'dry warm',
       'showers', 'wet/dry', 'high wind', 'dry wet road', 'n/a',
       'wet/damp', 'dry/sunny', 'dark/cloudy', 'shower', 'dry/sun',
       'dry/overcast', 'overcast', 'light rain', 'shower/dry',
       'down pour', 'sleet', 'wet (shower)', 'spitting', 'dry sunny',
       'heavy rain', 'drizzle/cloudy', 'dry/wet', 'dull', 'damp', 'cloud',
       'dry/drizzle', 'fair', 'rain/sleet', 'dry cold', 'dull/damp',
       'hail stone', 'hot', 'dry-wet', 'too cold', 'overcast/dry',
       'bright/dry', 'overcast/rain heavy showers', 'heavy thunder',
       'wet/mix', 'thunder', 'sun/cloudy', 'snow', 'dry/cloudy',
       'dry road still wet', 'windy', 'drizzle/wet', 'sunny (hot!)',
       'wet/windy', 'dry/v. windy', 'warm/dry', 'rain shower',
       'intermittent showers', 'cloudy/drizzle', 'rain/drizzle',
       'cloudy/sun', 'cloudy sun', 'hail', 'wet road', 'dry/cold',
       'drizzle/dry', 'drizzle/rain', 'd', 'mixed sunny + rain',
       'wet/rain', 'rain heavy', 'v wet', 'v light drizzle',
       'sunny/cloudy', 'rainy', 'w', 'heavy rain high winds', 'dry windy',
       'rain stopped', 'slight drizzle', 'stopped raining', 'sun/cloud',
       'mixed', 'storm', 'dry y', 'dr ry', 'sunny/dry', 'dry + sunny',
       'wet rain stopped', 'cold', 'hot/dry', 'very hot/dry',
       'raining/wet', 'cloud/sun', 'showery', 'overcast/rain', 'rain/wet',
       'rain/showers', 'showers/sunny', 'drizzle/showers',
       'slight drizzle/dry', 'wet/stop raining', 'drizzle rain',
       'drizzle wet', 'cloudy dry', 'school out', 'clear',
       'heavy showers', 'showers/hailstone', 'sun & clouds', 'damp/sun',
       'rain/hailstone', 'cloudy & sunny', 'sun/clouds',
       'intermittent heavy showers', 'very heavy rain', 'raining',
       'windy at first then sunny', 'sunny & warm all day', 'dry + wet',
       'showers/cloudy', 'cloudy/showers', 'getting wet',
       'clouds & sunny', 'wet road:sun', 'dry but wet road', 'drizze',
       'bright', 'dry but misty', 'clear and warm', 'windy dry',
       'partly cloudy and dry', 'cloudy but dry', 'partly cloudy but dry',
       'cloudy with clear intervals', 'dry, sunny, warm',
       'dry, sunny, hot', 'dry, warm', 'clear and dry', 'cloudy and dry',
       'dryish', 'wettish'], dtype=object)

In [1175]:
#Map the waether categories.values 
inner_london_mapping = inner_london_mapping = {
    'Dry': [
        'dry', 'dry                         9', 'dry/hot', 'dry warm', 'dry/sunny',
        'dry/sun', 'dry sunny', 'dry/wet', 'dry/drizzle', 'dry cold', 'dry-wet',
        'bright', 'clear and warm', 'clear', 'bright/dry', 'dry/cloudy',
        'dry/v. windy', 'warm/dry', 'dry/cold', 'drizzle/dry', 'dry windy',
        'dry y', 'sunny/dry', 'dry + sunny', 'hot/dry', 'very hot/dry',
        'slight drizzle/dry', 'cloudy dry', 'dry but wet road', 'dry but misty',
        'windy dry', 'partly cloudy and dry', 'cloudy but dry',
        'partly cloudy but dry', 'cloudy with clear intervals', 'dry, sunny, warm',
        'dry, sunny, hot', 'dry, warm', 'clear and dry', 'cloudy and dry', 'clear and dry', 'dryish',
        'warm + dry',
    ],
    'Wet': [
        'wet', 's.wet', 's/w', 'rain', 'wet/mix', 'mix wet/dry', 'showers',
        'wet/dry', 'wet (shower)', 'wet/damp', 'shower', 'rain/sleet',
        'rainy', 'w', 'wet/rain', 'v wet', 'wet rain stopped', 'getting wet',
        'wet road:sun', 'wettish' 'heavy showers', 'showers/hailstone', 'rain/hailstone',
        'intermittent heavy showers', 'very heavy rain', 'raining',
        'intermittent showers', 'very windy', 'overcast/rain heavy showers',
        'thunder', 'dry road still wet', 'rain shower','drizzle', 'Windy', 'light showers', 'raining/wet', 'showery', 'overcast/rain',
       'rain/wet', 'rain/showers', 'showers/sunny', 'drizzle/showers',
       'wet/stop raining', 'drizzle rain', 'drizzle wet', 'heavy showers', 'light rain',
       'shower/dry', 'down pour', 'sleet', 'spitting', 'heavy rain',
       'drizzle/cloudy', 'snow', 'drizzle/wet', 'wet/windy',
       'cloudy/drizzle', 'rain/drizzle','wet road', 'drizzle/rain', 'rain heavy', 'v light drizzle','showers/cloudy', 'cloudy/showers', 'drizze', 'wettish'
    ],
    'Fine/Sunny': [
        'sunny', 'sun/cloudy', 'sun', 'sunny/cloudy', 'sun & clouds',
        'damp/sun', 'sunny (hot!)', 'sunny & warm all day', 'clouds & sunny',
        'sunny/cloudy', 'clear and warm','cloudy/sunny'
    ],
    'Windy': [
        'very windy', 'windy/rain', 'windy', 'dry & windy', 'high wind',
        'dry/v. windy', 'windy at first then sunny', 'windy dry' 'heavy rain high winds', 'heavy rain high winds',
    ],
    'Mixed':[ 'mixed sunny + rain', 'dry + wet'],
    'Unknown': [
        'unknown', 'd', 'mixed', 'storm', 'dr ry', 'fair', 'dull/damp',
        'hail stone', 'hot', 'dark/cloudy', 'hail',
        'rain stopped', 'stopped raining', 'slight drizzle',
        'school out', 'cloud/sun', 'hail', 'Unknown', 'cloudy', 'cloudy/rain', 'cloudy/dry','druy', 'fine', 'mizzle',
       'dry wet road', 'n/a', 'dry/overcast', 'overcast', 'dull', 'damp', 'cloud', 'Cold', 'overcast/dry',
       'heavy thunder', 'cloudy/sun', 'cloudy sun',
       'sun/cloud', 'cold', 'cloudy & sunny', 'sun/clouds', 'too cold'
    ]
}
#for loop to get key value pair. 
for key, values in inner_london_mapping.items():
    #for loop to get key value pair. 
    cleaned_inner_london['Weather'] = cleaned_inner_london['Weather'].replace(values, key)

In [1176]:
cleaned_inner_london

,Survey wave (year),Site ID,Location,Survey_weekday,Survey_date,Weather,Time,Period,Direction,Start time,Number of private cycles,Number of cycle hire bikes,Total cycles
0,2015,INNCY001,Grove Road,Wednesday,20/05/15,Dry,0600 - 0615,Early Morning,Northbound,06:00,1,0,1
1,2015,INNCY001,Grove Road,Wednesday,20/05/15,Dry,0615 - 0630,Early Morning,Northbound,06:15,2,0,2
2,2015,INNCY001,Grove Road,Wednesday,20/05/15,Dry,0630 - 0645,Early Morning,Northbound,06:30,2,0,2
3,2015,INNCY001,Grove Road,Wednesday,20/05/15,Dry,0645 - 0700,Early Morning,Northbound,06:45,4,0,4
4,2015,INNCY001,Grove Road,Wednesday,20/05/15,Dry,0700 - 0715,AM peak,Northbound,07:00,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
523771,2021,INNCY597,Augustus Road,Wednesday,26/05/21,Dry,2045 - 2100,Evening,Westbound,20:45,3,0,3
523772,2021,INNCY597,Augustus Road,Wednesday,26/05/21,Dry,2100 - 2115,Evening,Westbound,21:00,2,0,2
523773,2021,INNCY597,Augustus Road,Wednesday,26/05/21,Dry,2115 - 2130,Evening,Westbound,21:15,2,0,2
523774,2021,INNCY597,Augustus Road,Wednesday,26/05/21,Dry,2130 - 2145,Evening,Westbound,21:30,2,0,2
523775,2021,INNCY597,Augustus Road,Wednesday,26/05/21,Dry,2145 - 2200,Evening,Westbound,21:45,0,0,0

In [1177]:
cleaned_inner_london['Weather'].unique()

array(['Dry', 'Wet', 'Unknown', 'Fine/Sunny', 'Windy', 'Mixed'],
      dtype=object)

In [1224]:
cleaned_inner_london.to_csv('cleaned_inner_london.csv', index=False)

## Central London Cleaning

In [1178]:
central_london.head(1)

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Survey date,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),"ven, 24/01/14",Dry,0600 - 0615,Early Morning (06:00-07:00),Northbound,6.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

####  Sense Check

In [1179]:
# Determine the metadata of the data sets
print(central_london.shape)
print(central_london.columns)

(1048366, 17)
Index(['Survey wave (calendar quarter)', 'Equivalent financial quarter',
       'Site ID', 'Location', 'Survey date', 'Weather', 'Time', 'Period',
       'Direction', 'Start hour', 'Start minute', 'Number of private cycles',
       'Number of cycle hire bikes', 'Total cycles', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [1180]:
central_london.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048366 entries, 0 to 1048365
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Survey wave (calendar quarter)  758163 non-null  object
 1   Equivalent financial quarter    758163 non-null  object
 2   Site ID                         758163 non-null  object
 3   Location                        758163 non-null  object
 4   Survey date                     748007 non-null  object
 5   Weather                         746329 non-null  object
 6   Time                            758163 non-null  object
 7   Period                          758163 non-null  object
 8   Direction                       758163 non-null  object
 9   Start hour                      758163 non-null  float64
 10  Start minute                    758163 non-null  float64
 11  Number of private cycles        758099 non-null  float64
 12  Number of cycle hire bikes      758099 non-null  float64
 13  Total cycles                    758163 non-null  float64
 14  Unnamed: 14                     0 non-null       float64
 15  Unnamed: 15                     0 non-null       float64
 16  Unnamed: 16                     0 non-null       float64
dtypes: float64(8), object(9)
memory usage: 136.0+ MB

In [1181]:
# missing values for central london
missing_values_central_london = central_london.isnull().sum()

# Display the columns within missing values and their count
missing_values_central_london

Survey wave (calendar quarter)     290203
Equivalent financial quarter       290203
Site ID                            290203
Location                           290203
Survey date                        300359
Weather                            302037
Time                               290203
Period                             290203
Direction                          290203
Start hour                         290203
Start minute                       290203
Number of private cycles           290267
Number of cycle hire bikes         290267
Total cycles                       290203
Unnamed: 14                       1048366
Unnamed: 15                       1048366
Unnamed: 16                       1048366
dtype: int64

In [1182]:
central_london.describe()

,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Unnamed: 14,Unnamed: 15,Unnamed: 16
count,758163.000000,758163.000000,758099.000000,758099.000000,758163.000000,0.0,0.0,0.0
mean,13.499259,22.499951,14.824374,1.830072,16.653040,NaN,NaN,NaN
std,4.609643,16.770530,26.255858,3.321560,28.675116,NaN,NaN,NaN
min,6.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,9.000000,0.000000,2.000000,0.000000,3.000000,NaN,NaN,NaN
50%,13.000000,15.000000,7.000000,1.000000,8.000000,NaN,NaN,NaN
75%,17.000000,30.000000,16.000000,2.000000,18.000000,NaN,NaN,NaN
max,21.000000,45.000000,1177.000000,108.000000,1200.000000,NaN,NaN,NaN

#### Duplicate Rows | Columns

In [1183]:
# Checking duplicates
duplicated_central = central_london.duplicated()

duplicates_central = central_london[duplicated_central] 

duplicates_central.head(5)

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Survey date,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Unnamed: 14,Unnamed: 15,Unnamed: 16
758164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1184]:
#Drop duplicates
cleaned_central_london = central_london.drop_duplicates()
cleaned_central_london

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Survey date,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),"ven, 24/01/14",Dry,0600 - 0615,Early Morning (06:00-07:00),Northbound,6.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),"ven, 24/01/14",Dry,0615 - 0630,Early Morning (06:00-07:00),Northbound,6.0,15.0,15.0,0.0,15.0,NaN,NaN,NaN
2,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),"ven, 24/01/14",Dry,0630 - 0645,Early Morning (06:00-07:00),Northbound,6.0,30.0,35.0,0.0,35.0,NaN,NaN,NaN
3,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),"ven, 24/01/14",Dry,0645 - 0700,Early Morning (06:00-07:00),Northbound,6.0,45.0,59.0,2.0,61.0,NaN,NaN,NaN
4,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),"ven, 24/01/14",Dry,0700 - 0715,AM peak (07:00-10:00),Northbound,7.0,0.0,73.0,0.0,73.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758159,2021 Q4 (October-December),2021-22 Q3,CENCY702,Haymarket,"mar, 21/12/21",Dry,2100 - 2115,Evening (19:00-22:00),Southbound,21.0,0.0,20.0,0.0,20.0,NaN,NaN,NaN
758160,2021 Q4 (October-December),2021-22 Q3,CENCY702,Haymarket,"mar, 21/12/21",Dry,2115 - 2130,Evening (19:00-22:00),Southbound,21.0,15.0,16.0,1.0,17.0,NaN,NaN,NaN
758161,2021 Q4 (October-December),2021-22 Q3,CENCY702,Haymarket,"mar, 21/12/21",Dry,2130 - 2145,Evening (19:00-22:00),Southbound,21.0,30.0,10.0,1.0,11.0,NaN,NaN,NaN
758162,2021 Q4 (October-December),2021-22 Q3,CENCY702,Haymarket,"mar, 21/12/21",Dry,2145 - 2200,Evening (19:00-22:00),Southbound,21.0,45.0,12.0,2.0,14.0,NaN,NaN,NaN
758163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1185]:
#Subset Unnamed Columns
cleaned_central_london = cleaned_central_london.drop(['Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], axis=1)

In [1186]:
# View last row of dataset
last_row = cleaned_central_london.iloc[-1]
last_row

Survey wave (calendar quarter)    NaN
Equivalent financial quarter      NaN
Site ID                           NaN
Location                          NaN
Survey date                       NaN
Weather                           NaN
Time                              NaN
Period                            NaN
Direction                         NaN
Start hour                        NaN
Start minute                      NaN
Number of private cycles          NaN
Number of cycle hire bikes        NaN
Total cycles                      NaN
Name: 758163, dtype: object

In [1187]:
#drop(last row) duplicated 
cleaned_central_london = cleaned_central_london.dropna(how='all', axis=0)

### 'Survey date' columns

In [1188]:
cleaned_central_london.head(3)

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Survey date,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles
0,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),"ven, 24/01/14",Dry,0600 - 0615,Early Morning (06:00-07:00),Northbound,6.0,0.0,0.0,0.0,0.0
1,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),"ven, 24/01/14",Dry,0615 - 0630,Early Morning (06:00-07:00),Northbound,6.0,15.0,15.0,0.0,15.0
2,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),"ven, 24/01/14",Dry,0630 - 0645,Early Morning (06:00-07:00),Northbound,6.0,30.0,35.0,0.0,35.0

In [1189]:
#empty lists 
central_day_of_week = []
central_date = []


for survey_date in cleaned_central_london['Survey date']:
    #Seperate using. split method
    if isinstance(survey_date, str):
        if ', ' in survey_date:
            day, rest = survey_date.split(', ')
            #Append corresponding to the list
            central_day_of_week.append(day)
            central_date.append(rest)
        else:
            #conditional if no value
            central_day_of_week.append('Unknown')  
            central_date.append('Unknown')  # Set 'date' to None for non-string values
    else:
        central_day_of_week.append('Unknown')  # Set 'day_of_week' to None for non-string values
        central_date.append('Unknown')  # Set 'date' to None for non-string values

# Add new columns 'Survey_weekday' and 'Survey_date' to Cleaned London
cleaned_central_london['Survey_weekday'] = central_day_of_week
cleaned_central_london['Survey_date'] = central_date

In [1190]:
day_of_week_counts = cleaned_central_london['Survey_weekday'] .value_counts()
day_of_week_counts

lun        168837
mar        161584
mer        155395
jeu        137762
ven        123713
Unknown     10412
dim           334
sam           126
Name: Survey_weekday, dtype: int64

In [1191]:
# Rename the columns for the weekday: mapping
day_mapping = {
    'lun': 'Monday',
    'mar': 'Tuesday',
    'mer': 'Wednesday',
    'jeu': 'Thursday',
    'ven': 'Friday',
    'dim': 'Saturday', 
    'sam': 'Sunday'
}
cleaned_central_london['Survey_weekday'] = cleaned_central_london['Survey_weekday'].replace(day_mapping)

In [1192]:
#Check Unique Value
unique_weekdays = cleaned_central_london['Survey_weekday'].unique()
print(unique_weekdays)

['Friday' 'Wednesday' 'Tuesday' 'Thursday' 'Monday' 'Unknown' 'Saturday'
 'Sunday']

In [1193]:
cleaned_central_london = cleaned_central_london.drop('Survey date', axis=1)

In [1194]:
cleaned_central_london.head(1)

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Survey_weekday,Survey_date
0,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),Dry,0600 - 0615,Early Morning (06:00-07:00),Northbound,6.0,0.0,0.0,0.0,0.0,Friday,24/01/14

### Format Numerical columns

In [1195]:
missing_private_cycles = cleaned_central_london[pd.isna(cleaned_central_london['Number of private cycles'])]

missing_private_cycles

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Survey_weekday,Survey_date
718779,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0600 - 0615,Early Morning (06:00-07:00),Eastbound,6.0,0.0,NaN,NaN,0.0,Wednesday,18/08/21
718780,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0615 - 0630,Early Morning (06:00-07:00),Eastbound,6.0,15.0,NaN,NaN,0.0,Wednesday,18/08/21
718781,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0630 - 0645,Early Morning (06:00-07:00),Eastbound,6.0,30.0,NaN,NaN,0.0,Wednesday,18/08/21
718782,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0645 - 0700,Early Morning (06:00-07:00),Eastbound,6.0,45.0,NaN,NaN,0.0,Wednesday,18/08/21
718783,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0700 - 0715,AM peak (07:00-10:00),Eastbound,7.0,0.0,NaN,NaN,0.0,Wednesday,18/08/21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718838,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2045 - 2100,Evening (19:00-22:00),Eastbound,20.0,45.0,NaN,NaN,0.0,Tuesday,24/08/21
718839,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2100 - 2115,Evening (19:00-22:00),Eastbound,21.0,0.0,NaN,NaN,0.0,Tuesday,24/08/21
718840,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2115 - 2130,Evening (19:00-22:00),Eastbound,21.0,15.0,NaN,NaN,0.0,Tuesday,24/08/21
718841,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2130 - 2145,Evening (19:00-22:00),Eastbound,21.0,30.0,NaN,NaN,0.0,Tuesday,24/08/21
718842,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2145 - 2200,Evening (19:00-22:00),Eastbound,21.0,45.0,NaN,NaN,0.0,Tuesday,24/08/21

In [1196]:
#Conditional: check if is null in No of cycles, metric matches total cycles
condition = (cleaned_central_london['Total cycles'] == 0) & (cleaned_central_london['Number of private cycles'].isna() | cleaned_central_london['Number of cycle hire bikes'].isna())

filt_rows = cleaned_central_london[condition]

# Display the filtered DataFrame
filt_rows

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Survey_weekday,Survey_date
718779,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0600 - 0615,Early Morning (06:00-07:00),Eastbound,6.0,0.0,NaN,NaN,0.0,Wednesday,18/08/21
718780,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0615 - 0630,Early Morning (06:00-07:00),Eastbound,6.0,15.0,NaN,NaN,0.0,Wednesday,18/08/21
718781,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0630 - 0645,Early Morning (06:00-07:00),Eastbound,6.0,30.0,NaN,NaN,0.0,Wednesday,18/08/21
718782,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0645 - 0700,Early Morning (06:00-07:00),Eastbound,6.0,45.0,NaN,NaN,0.0,Wednesday,18/08/21
718783,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,0700 - 0715,AM peak (07:00-10:00),Eastbound,7.0,0.0,NaN,NaN,0.0,Wednesday,18/08/21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718838,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2045 - 2100,Evening (19:00-22:00),Eastbound,20.0,45.0,NaN,NaN,0.0,Tuesday,24/08/21
718839,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2100 - 2115,Evening (19:00-22:00),Eastbound,21.0,0.0,NaN,NaN,0.0,Tuesday,24/08/21
718840,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2115 - 2130,Evening (19:00-22:00),Eastbound,21.0,15.0,NaN,NaN,0.0,Tuesday,24/08/21
718841,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2130 - 2145,Evening (19:00-22:00),Eastbound,21.0,30.0,NaN,NaN,0.0,Tuesday,24/08/21
718842,2021 Q3 (July-September),2021-22 Q2,CENCY112,Grosvenor Street,Dry,2145 - 2200,Evening (19:00-22:00),Eastbound,21.0,45.0,NaN,NaN,0.0,Tuesday,24/08/21

### Replace na values

In [1197]:
cleaned_central_london['Number of private cycles'].fillna(0, inplace=True)
cleaned_central_london['Number of cycle hire bikes'].fillna(0, inplace=True)

In [1198]:
cleaned_central_london['Number of private cycles'] = cleaned_central_london['Number of private cycles'].astype(int)
cleaned_central_london['Number of cycle hire bikes'] = cleaned_central_london['Number of cycle hire bikes'].astype(int)
cleaned_central_london['Start hour'] = cleaned_central_london['Start hour'].astype(int)
cleaned_central_london['Start minute'] = cleaned_central_london['Start minute'].astype(int)
cleaned_central_london['Total cycles'] = cleaned_central_london['Total cycles'].astype(int)

### Period

In [1199]:
#Drop unnessesary section

In [1200]:
unique_periods = cleaned_central_london['Period'].unique()
print(unique_periods)

['Early Morning (06:00-07:00)' 'AM peak (07:00-10:00)'
 'Inter-peak (10:00-16:00)' 'PM peak (16:00-19:00)'
 'Evening (19:00-22:00)']

In [1201]:
#Drop the bracketed tim zones
cleaned_central_london['Period'] = cleaned_central_london['Period'].str.split('(').str[0].str.strip()

In [1202]:
#Check data for Period and Time for possible mislabelling

contains_evening = cleaned_central_london['Period'].str.contains('Early Morning')
does_not_contain = ~cleaned_central_london['Time'].str.contains('06')

filtered_data = cleaned_central_london[contains_evening & does_not_contain]
filtered_data

Empty DataFrame
Columns: [Survey wave (calendar quarter), Equivalent financial quarter, Site ID, Location, Weather, Time, Period, Direction, Start hour, Start minute, Number of private cycles, Number of cycle hire bikes, Total cycles, Survey_weekday, Survey_date]
Index: []

In [1203]:
cleaned_central_london.dtypes

Survey wave (calendar quarter)    object
Equivalent financial quarter      object
Site ID                           object
Location                          object
Weather                           object
Time                              object
Period                            object
Direction                         object
Start hour                         int64
Start minute                       int64
Number of private cycles           int64
Number of cycle hire bikes         int64
Total cycles                       int64
Survey_weekday                    object
Survey_date                       object
dtype: object

In [1204]:
cleaned_central_london.dtypes

Survey wave (calendar quarter)    object
Equivalent financial quarter      object
Site ID                           object
Location                          object
Weather                           object
Time                              object
Period                            object
Direction                         object
Start hour                         int64
Start minute                       int64
Number of private cycles           int64
Number of cycle hire bikes         int64
Total cycles                       int64
Survey_weekday                    object
Survey_date                       object
dtype: object

## Weather

In [1205]:
cleaned_central_london['Weather'].fillna('unknown', inplace=True)

In [1206]:
cleaned_central_london.isnull().sum()

Survey wave (calendar quarter)    0
Equivalent financial quarter      0
Site ID                           0
Location                          0
Weather                           0
Time                              0
Period                            0
Direction                         0
Start hour                        0
Start minute                      0
Number of private cycles          0
Number of cycle hire bikes        0
Total cycles                      0
Survey_weekday                    0
Survey_date                       0
dtype: int64

In [1207]:
cleaned_central_london.head()

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Survey_weekday,Survey_date
0,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),Dry,0600 - 0615,Early Morning,Northbound,6,0,0,0,0,Friday,24/01/14
1,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),Dry,0615 - 0630,Early Morning,Northbound,6,15,15,0,15,Friday,24/01/14
2,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),Dry,0630 - 0645,Early Morning,Northbound,6,30,35,0,35,Friday,24/01/14
3,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),Dry,0645 - 0700,Early Morning,Northbound,6,45,59,2,61,Friday,24/01/14
4,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),Dry,0700 - 0715,AM peak,Northbound,7,0,73,0,73,Friday,24/01/14

## Zipped(start hour)

In [1208]:
#Apply date time module

from datetime import time

cleaned_central_london['Start time'] = cleaned_central_london.apply(
    #Concatinate start hour and minute
    lambda row: time(row['Start hour'], row['Start minute']).strftime('%H:%M'),
    axis=1
)

In [1209]:
cleaned_central_london.head(2)

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Weather,Time,Period,Direction,Start hour,Start minute,Number of private cycles,Number of cycle hire bikes,Total cycles,Survey_weekday,Survey_date,Start time
0,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),Dry,0600 - 0615,Early Morning,Northbound,6,0,0,0,0,Friday,24/01/14,06:00
1,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),Dry,0615 - 0630,Early Morning,Northbound,6,15,15,0,15,Friday,24/01/14,06:15

In [1210]:
cleaned_central_london = cleaned_central_london.drop(['Start hour','Start minute'], axis=1)

In [1211]:
column_order = [
    'Survey wave (calendar quarter)',
    'Equivalent financial quarter',
    'Site ID',
    'Location',
    'Survey_date',
    'Survey_weekday',
    'Weather',
    'Time',
    'Period',
    'Direction',
    'Start time',
    'Number of private cycles',
    'Number of cycle hire bikes',
    'Total cycles',
]

# Reorder the columns
cleaned_central_london = cleaned_central_london[column_order]

In [1212]:
cleaned_central_london.head(2)

,Survey wave (calendar quarter),Equivalent financial quarter,Site ID,Location,Survey_date,Survey_weekday,Weather,Time,Period,Direction,Start time,Number of private cycles,Number of cycle hire bikes,Total cycles
0,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),24/01/14,Friday,Dry,0600 - 0615,Early Morning,Northbound,06:00,0,0,0
1,2014 Q1 (January-March),2013-14 Q4,CENCY001,Millbank (south of Thorney Street),24/01/14,Friday,Dry,0615 - 0630,Early Morning,Northbound,06:15,15,0,15

In [1213]:
cleaned_central_london.to_csv('cleaned_central_london.csv', index=False)

In [1214]:
all_weather = cleaned_central_london ['Weather'].unique()

In [1215]:
#Get the list of weathers

empty_list= []

#enumerate: index and each weather type: .unique()
for index,every in enumerate(cleaned_central_london ['Weather'].unique()):
    empty_list.append(every)
    print(f'{index} {every}')

0 Dry
1 Wet
2 Rain
3 Fine
4 Damp
5 Showery
6 Cold/rain
7 Light Rain
8 Slightly Wet
9 Rain Stopped
10 Road Wet
11 Almost Dry
12 Light Shower
13 Rain Damp
14 Rain Dry
15 Wet Damp
16 Very Wet
17 V Wet
18 Wet - Dry
19 Dry - Wet
20 Dry - Rain
21 Damp - Rain
22 Wet/ Dry
23 S. Wet
24 V. Wet
25 Wet Intermittently
26 Cloudy/ Rain
27 Windy/ Rain
28 Cold/ Rain
29 Drizzle
30 Lt Rain
31 Dry & Sunny
32 Spitting
33 Showers
34 unknown
35 Cloudy
36 Sunny
37 Light Showers
38 Hazy
39 Shower
40 Foggy
41 Dull
42 Wet/dry
43 Kdry
44 Partly Cloudy
45 Rainy
46 Wet T
47 Sun
48 Fair
49 Slight Drizzle
50 Very Heavy Rain
51 Mild
52 Wet + Windy
53 Blustery
54 Rain/wind
55 Fine Windy
56 Dry Windy
57 Dry Wet Road
58 Deluge
59 Dry/wet
60 Dry & Wet
61 V Light Rain
62 Dry A.m Wet P.m
63 Wet Road
64 Cold
65 Cloudy/rain
66 Wet & Windy
67 Windy
68 Down Pour
69 Dry & Very Windy
70 Mist
71 Cold Windy Dry
72 Drty
73 Dry (windy)
74 Wet (windy)
75 Fine (windy)
76 Road Drying Sun Out
77 Dryish
78 Wetish
79 Light Shrs
80 Dry & Windy
81 Some Showers
82 Rains
83 Dry/sunny
84 Dry/cloudy
85 Dry/hot
86 Sunny/rainy
87 Very Hot Dry
88 Sunny Cloudy
89 Dry Dark
90 Dark Sunny
91 Dark Dry
92 Dark
93 Fine Drizzle
94 Heavy Showers
95 D
96 Wetr
97 Showers Mix
98 Dry/good
99 Good/dry
100 Dry Mon
101 Dry Wed
102 Dry Thu
103 Dry Fri
104 Sun/rain
105 Rain/dry
106 Dry Y
107 V Light Shrs
108 Occasional Lt Snow Shrs
109 L/rain
110 Rain/cloudy
111 Cold/dry
112 Wet And Very Windy
113 Rain Stopped-dry
114 Dry/windy
115 Shower/wet
116 V Lt Rain
117 Thunder
118 Heavy Rain
119 Heavy Shower
120 Hail
121 Rain & Thunder
122 Rain-heavy
123 V.light Rain
124 Dry (+brief Speels Of Drizzle
125 Wetter
126 Wet (spitting)
127 Getting Wet
128 H Rain
129 Wet/rain
130 Drizzly Rain
131 V.wet
132 Ddry
133 Wert
134 (rain After)
135 Damp & Drizzly
136 Dry Road Wet With Leaves
137 Wet Drizzle
138 Dy
139 Some Heavy Showers
140 No Rain Wet Roads
141 Dry But Wet Roads
142 Very Cold/dry
143 Very Light Rain
144 Sunny/dry
145 Foggy/v Cold
146 Dry/cold
147 Dry/sunny/cold
148 Sleet
149 Fine V Cold
150 Fine Cold
151 Hail Shower
152 Light Drizzle
153 Dry (frost & Fog)
154 Dry/wet Road Surface
155 Snow
156 V Cold Showers
157 Cold/showery
158 Light Showers Inc Some Hail
159 V Light Showers
160 Warm + Dry
161 V. Light Rain
162 Cloudy/hail
163 Wet/cloudy
164 Sun/cloudy
165 Hot/dry
166 Cloudy/dry
167 Wet/sunny
168 Dry Road Still Wet
169 Snowing
170 2 Snowflakes Otherwise Dry
171 Dry + Wet
172 Rain/drizzle
173 Wet/ Snowing
174 Wet-dry
175 Heavy Snow
176 Cold Dry
177 Dry/drizzly
178 Dry & Cold
179 Wet/light Showers
180 Wet/drizzle
181 Wet/damp
182 Drizzle/wet
183 Sunny/cloudy
184 Dry And Fine
185 Dry Sunny
186 Cold Wind
187 Wed
188 Dry And Sunny
189 Dry And Warm
190 Fine And Dry
191 Warm + Sunny
192 Warm And Humid
193 Warm And Windy
194 Cloudy/sunny
195 Overcast And Dull
196 Cloudy And Warm
197 Sunny Periods And Warm
198 Wet And Windy
199 Dry And Windy
200 Dry And Very Windy
201 Hot & Sunny
202 Warm Sunny And Windy
203 Hot And Sunny
204 Hot And Humid
205 Mild And Sunny
206 Warm And Overcast
207 Drizzling
208 Drizzle Damp
209 Sunny & Windy
210 Windy Dry
211 Windy Showery
212 Dry-wet
213 Wet + Dry
214 Cloud/rain
215 Cloudy/windy
216 Windy/cloudy
217 Dry/drizzle
218 Cloudy/drizzle
219 V.light Drizzle
220 Very Light Drizzle
221 V Light Drizzle
222 Dry/gusty
223 Drying Up
224 Wet Again
225 Really Wet
226 Dry But Wet Road
227 Coldish
228 Overcast
229 Cold Sunny Rain
230 Wet First Then Dry
231 Wetr First Then Dry
232 Windy/dry
233 Very Windy & Cold
234 Dry & Mild
235 Dry But A Bit Windy
236 Sunny Cold
237 High Winds & Spits Of Rain
238 Dry With Intermitent Rain
239 Cold At First Then Warm/sunny
240 Periods Of Rain Quite Windy
241 Warm & Sunny Chilly Later
242 (drizzle)
243 Damp/misty/wet
244 Dry/windy/strong Wind
245 Dry/very Windy
246 Drizzle/showers
247 Dry But Rain Threatening
248 Slight Drizzle Till End
249 Hot + Humid
250 Damp/misty
251 Cold & Dry Early Rain Later
252 Heavy Showers Throughout Day
253 Drizzle/rain
254 Windy/drizzle
255 Dry 3/4 Dry
256 Intermitent Light Showers
257 Intermitent Light Rain
258 Cold Then Dry And Windy
259 Dry And Overcast
260 Dry + Sunny
261 A Few Rain Showers
262 Warm + Sunny Cloudy + Windy
263 Sunny Until Evening But Windy
264 Winds Rather Chilly
265 Drizzly
266 Wet Light Hailstone
267 Warm
268 Rain Looking Likely
269 A Few Drops Of Rain
270 Sunny But Very Windy
271 Now Starts To Get Chilly
272 Very Cold Sunny But Windy
273 Warm & Sunny But Windy & Cold
274 Steady Rain
275 Sun/clouds
276 A Bit Chilly At First
277 Warm With A Slight Wind
278 Fine + Dry Chilly At First
279 Fine & Sunny
280 Wet
281 X
282 dry
283 Storm

In [1221]:

cental_london_weather_mapping = {
    'Dry': ['Rain Looking Likely','Dry/gusty','Dry And Windy','Cloudy And Warm','dry','Dy','Dry/windy','Dry Y','Dry','Dry/wet', 'Dry/good', 'Good/dry', 'Dry Mon', 'Dry Wed', 'Dry Thu', 'Dry Fri', 'Sunny/dry', 'Dry/cold', 'Dry/sunny/cold', 'Fine V Cold', 'Dry (frost & Fog)', 'Dry/wet Road Surface', 'Dry + Wet', 'Dry/drizzly', 'Dry & Cold', 'Dry But Wet Road', 'Dry But Wet Road', 'Dry + Dry','Dark','Dark Sunny', 'Dark Dry','Very Hot Dry','Dry/hot', 'Sunny/rainy','Sun', 'Fair','Dry','Almost Dry', 'Dry - Wet', 'Dry - Rain', 'Dry - Sunny', 'Dry Cloudy', 'Dry Dark', 'Dry Frost & Fog', 'Dry Road Wet with Leaves', 'Dry But Wet Roads', 'Dry Road Still Wet', 'Dry And Fine', 'Dry Sunny', 'Dry And Warm', 'Dry And Sunny', 'Dry And Very Windy', 'Dry And Mild', 'Dry But A Bit Windy', 'Dry With Intermitent Rain', 'Dry But Rain Threatening', 'Dry 3/4 Dry', 'Dry Then Dry And Windy', 'Dry + Sunny'],
    'Wet': ['Storm','Cloud/rain','Drizzle/rain', 'Intermitent Light Showers', 'Intermitent Light Rain', 'Wet Light Hailstone', 'Periods Of Rain Quite Windy','Drizzling','V. Light Rain', 'Wet And Windy','Cloudy/dry', 'Rain/drizzle', 'Heavy Snow','Drizzle Damp', 'Dry-wet', 'Wet First Then Dry', 'Wetr First Then Dry', 'Overcast And Dull', 'Overcast', 'Drying Up', 'Wet ','Sleet', 'Hail Shower', 'Light Drizzle', 'Snow', 'V Cold Showers', 'Light Showers Inc Some Hail', 'V Light Showers','Some Heavy Showers', 'No Rain Wet Roads', 'Very Light Rain','H Rain','Shower/wet', 'V Lt Rain', 'Thunder', 'Heavy Rain', 'Heavy Shower', 'Hail', 'Rain & Thunder', 'Rain-heavy', 'V.light Rain','V Light Shrs', 'Occasional Lt Snow Shrs', 'L/rain', 'Rain/cloudy', 'Wet And Very Windy','Wetr', 'Wet/cloudy', 'Wet/sunny', 'Wet + Dry', 'Wet/ Snowing', 'Wet-dry', 'Wet/light Showers', 'Wet/drizzle', 'Wet/damp', 'Drizzle/wet', 'Damp/misty/wet', 'Dry/windy/strong Wind', 'Dry/very Windy', 'Damp/misty', 'Cold & Dry Early Rain Later', 'Heavy Showers Throughout Day', 'Windy/drizzle', 'Windy Dry', 'Windy Showery', 'Windy/cloudy', 'Cold Sunny Rain', 'Windy/dry', 'Very Windy & Cold', 'Cold Wind', 'Drizzly', 'Drizzle/showers', 'Slight Drizzle Till End', 'Slight Drizzle Till End', 'Warm With A Slight Wind', 'Fine + Dry Chilly At First', 'Warm & Sunny But Windy & Cold', 'Sun/clouds', 'Warm & Sunny Chilly Later', 'A Few Drops Of Rain', 'Sunny But Very Windy', 'Winds Rather Chilly', '(drizzle)','Heavy Showers','Some Showers', 'Rains','Light Shrs','Blustery', 'Rain/wind', 'Dry Windy', 'Dry Wet Road', 'Deluge', 'V Light Rain', 'Dry A.m Wet P.m', 'Wet Road', 'Cloudy/rain', 'Windy', 'Down Pour', 'Dry & Very Windy', 'Mist', 'Dry (windy)', 'Wet (windy)','Rain', 'Light Rain', 'Drizzle', 'Lt Rain', 'Slight Drizzle', 'Steady Rain', 'Drty','Wet','Very Heavy Rain', 'Very Wet', 'Wet Damp', 'Wet Drizzle', 'Wet + Windy', 'Wetish', 'Wet & Windy', 'Wet Drizzle', 'Wet Again', 'Really Wet', 'Wet But Dry Road', 'Dryish', 'Wetter', 'Wet (spitting)', 'Getting Wet', 'Wet/rain', 'Drizzly Rain', 'V.wet', 'Ddry', 'Wert', '(rain After)', 'Damp & Drizzly', 'Dry Road Wet With Leaves', 'Wet Drizzle','Damp', 'Showery', 'Slightly Wet', 'Rain Stopped', 'Road Wet', 'Light Shower', 'Rain Damp', 'Rain Dry', 'V Wet', 'Wet - Dry', 'Damp - Rain', 'Wet/ Dry', 'S. Wet', 'V. Wet', 'Wet Intermittently', 'Cloudy/ Rain', 'Windy/ Rain', 'Cold/ Rain', 'Spitting', 'Showers', 'unknown', 'Cloudy', 'Light Showers', 'Hazy', 'Shower', 'Foggy', 'Dull', 'Wet/dry', 'Kdry', 'Partly Cloudy', 'Rainy', 'Wet T', 'Sun', 'Fair', 'Very Heavy Rain', 'Mild', 'Blustery', 'Rain/wind'],
    'Fine/Sunny': ['Sun/cloudy','Hot + Humid','Sunny Cold' 'Sun/cloudy', 'Hot/dry', 'Sunny/cloudy', 'Dry & Mild', 'Fine And Dry', 'Warm And Humid', 'Warm And Windy', 'Cloudy/sunny', 'Sunny Periods And Warm', 'Hot & Sunny', 'Fine & Sunny', 'Fine And Dry', 'High Winds & Spits Of Rain','Fine', 'Fine Windy', 'Sunny', 'Dry & Sunny', 'Sunny Cloudy', 'Dry/sunny', 'Dry/cloudy', 'Dry + Sunny', 'Warm + Sunny', 'Warm Sunny And Windy', 'Hot And Sunny', 'Hot And Humid', 'Mild And Sunny', 'Warm And Overcast', 'Dry And Overcast', 'A Few Rain Showers', 'Warm + Sunny Cloudy + Windy', 'Sunny Until Evening But Windy', 'Sunny & Windy', 'Warm','Fine (windy)','Fine', 'Fine Windy', 'Fine Drizzle', 'Sunny', 'Dry & Sunny', 'Sunny Cloudy', 'Dry/sunny', 'Dry/cloudy', 'Dry + Sunny'],
    'Cold': ['Sunny Cold','Cold Dry','Foggy/v Cold','Cold/rain', 'Cold', 'Cold Windy Dry', 'Cold Windy Dry', 'Cold/dry', 'Very Cold/dry', 'Cold/dry', 'Fine Cold', 'Cold/showery', 'Very Cold Showers', 'Cold At First Then Warm/sunny', 'Cold Then Dry And Windy', 'Now Starts To Get Chilly', 'Coldish','Cold/rain', 'Cold', 'Cold Windy Dry', 'Cold Windy Dry', 'Cold/dry', 'Very Cold/dry', 'Cold/dry', 'Fine Cold', 'Cold/showery', 'Very Cold Showers', 'Cold At First Then Warm/sunny', 'Cold Then Dry And Windy', 'A Bit Chilly At First', 'Very Cold Sunny But Windy', 'Now Starts To Get Chilly'],
    'Mixed': [ 'Snowing', '2 Snowflakes Otherwise Dry',  'Cloudy/windy', 'Dry/drizzle', 'Cloudy/drizzle', 'V.light Drizzle', 'Very Light Drizzle', 'V Light Drizzle', 'Cloudy/hail', 'V Light Drizzle','Warm + Dry','Dry (+brief Speels Of Drizzle','Rain Stopped-dry','Showers Mix', 'Sun/rain', 'Rain/dry','Dry/wet', 'Dry & Wet','Mixed','Sunny/rainy','Road Drying Sun Out', 'Light Shrs', 'Dry & Windy','Dry - Wet', 'Dry - Rain', 'Dry Road Wet with Leaves', 'Dry But Wet Roads', 'Dry But Rain Threatening', 'Dry + Sunny'],
    'Unknown': ['Unknown','D','X','Wed']
}

for key, values in cental_london_weather_mapping.items():
    cleaned_central_london['Weather'] = cleaned_central_london['Weather'].replace(values, key)

In [1222]:
cleaned_central_london['Weather'].unique()

array(['Dry', 'Wet', 'Fine/Sunny', 'Cold', 'Mixed', 'Unknown'],
      dtype=object)

In [1223]:
cleaned_central_london.to_csv('cleaned_central_london.csv', index=False)